<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de Múltiplos XML</title>

    <!-- Arquivo estáticos locais -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>

    <input type="file" id="file-input" accept=".xml" multiple>
    <div id="drop-zone">
        Arraste e solte arquivos XML aqui ou clique para selecionar.
    </div>

    <div id="results-container"></div>

    <div id="modal-overlay">
        <div id="modal-content">
            <h3>Informações Adicionais</h3>
            <p>Por favor, selecione as opções abaixo antes de enviar os arquivos.</p>
            <form id="modal-form">
                <div class="form-group">
                    <label>Mês:</label>
                    <div class="input-group">
                        <div class="input-item"><input type="radio" id="mes1" name="mes" value="1" required><label for="mes1">Jan</label></div>
                        <div class="input-item"><input type="radio" id="mes2" name="mes" value="2"><label for="mes2">Fev</label></div>
                        <div class="input-item"><input type="radio" id="mes3" name="mes" value="3"><label for="mes3">Mar</label></div>
                        <div class="input-item"><input type="radio" id="mes4" name="mes" value="4"><label for="mes4">Abr</label></div>
                        <div class="input-item"><input type="radio" id="mes5" name="mes" value="5"><label for="mes5">Mai</label></div>
                        <div class="input-item"><input type="radio" id="mes6" name="mes" value="6"><label for="mes6">Jun</label></div>
                        <div class="input-item"><input type="radio" id="mes7" name="mes" value="7"><label for="mes7">Jul</label></div>
                        <div class="input-item"><input type="radio" id="mes8" name="mes" value="8"><label for="mes8">Ago</label></div>
                        <div class="input-item"><input type="radio" id="mes9" name="mes" value="9"><label for="mes9">Set</label></div>
                        <div class="input-item"><input type="radio" id="mes10" name="mes" value="10"><label for="mes10">Out</label></div>
                        <div class="input-item"><input type="radio" id="mes11" name="mes" value="11"><label for="mes11">Nov</label></div>
                        <div class="input-item"><input type="radio" id="mes12" name="mes" value="12"><label for="mes12">Dez</label></div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ano:</label>
                    <div class="input-group">
                        <div class="input-item"><input type="radio" id="ano2023" name="ano" value="2023" required><label for="ano2023">2023</label></div>
                        <div class="input-item"><input type="radio" id="ano2024" name="ano" value="2024"><label for="ano2024">2024</label></div>
                        <div class="input-item"><input type="radio" id="ano2025" name="ano" value="2025"><label for="ano2025">2025</label></div>
                    </div>
                </div>
                 <div class="form-group">
                    <label>Tipo de Operação:</label>
                    <div class="input-group">
                        <div class="input-item"><input type="checkbox" id="op1" name="tipo_operacao" value="comercializacao_nacional"><label for="op1">Comercialização Nacional</label></div>
                        <div class="input-item"><input type="checkbox" id="op2" name="tipo_operacao" value="comercializacao_internacional"><label for="op2">Comercialização Internacional</label></div>
                        <div class="input-item"><input type="checkbox" id="op3" name="tipo_operacao" value="producao"><label for="op3">Produção</label></div>
                        <div class="input-item"><input type="checkbox" id="op4" name="tipo_operacao" value="transformacao"><label for="op4">Transformação</label></div>
                        <div class="input-item"><input type="checkbox" id="op5" name="tipo_operacao" value="consumo"><label for="op5">Consumo</label></div>
                        <div class="input-item"><input type="checkbox" id="op6" name="tipo_operacao" value="fabricacao"><label for="op6">Fabricação</label></div>
                        <div class="input-item"><input type="checkbox" id="op7" name="tipo_operacao" value="transporte"><label for="op7">Transporte</label></div>
                        <div class="input-item"><input type="checkbox" id="op8" name="tipo_operacao" value="armazenamento"><label for="op8">Armazenamento</label></div>
                    </div>
                </div>
                <div class="modal-actions">
                    <button type="button" id="modal-cancel">Cancelar</button>
                    <button type="submit" id="modal-submit">Confirmar e Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Adicionando JS para execução no HTML -->
    <script src="{% static 'js/myjs.js' %}"></script>
</body>
</html>